.first {
    background-color: orange;
}

.last {
    background-color: red;
}

.mid {
    background-color: grey;
}

.strong {
    font-weight: 700;
}

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 970px;
    }
}

body {
    padding-top: 50px;
}