<html ng-app="firstApp">
    <head>
        <title>AngularJS Page</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Moja strona</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="#">Menu</a></li>
                            <li><a href="#">Pierwsza</a></li>
                            <li><a href="#">Druga</a></li>
                            <li><a href="#">Trzecia</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <div ng-controller="secondController">
                <dl>
                    <dt>{{ access[0] }}</dt>
                </dl>
                Komentarz: <input type="text" ng-model="comment"/>
                <br/>
                <button ng-click="clearAccess()">Wyczyść tablicę</button>
                <button ng-click="addAccess()">Uzupełnij tablicę</button>
                <button ng-click="showCommentModel()">Pokaż mi komentarz</button>
                <div>{{ comment }}</div>
                <div>
                    <input type="checkbox" ng-model="isVisible"/> Jestem pełnoletni
                    <br/>
                    <div ng-show="isVisible">Wygląda na to, że jesteś pełnoletni!</div>
                    <div ng-hide="isVisible">Jesteś za młody!</div>
                </div>
            </div>
        </div>
        
        <div ng-controller="usersController">
            <div ng-switch on="showUsers">
                <div ng-switch-default>Wybierz liste</div>
                <ul ng-if="users.length" ng-switch-when="active">
                    <li ng-repeat="user in users" ng-show="user.active" ng-class="{ first: $first, last: $last, mid: $middle, strong: $even}">{{ $index }} . {{ user.name }}</li>
                </ul>
                <ul ng-if="users.length" ng-switch-when="admin">
                    <li ng-repeat="(id, user) in users" ng-hide="user.role != 'admin'" ng-style="styles">{{ id }} {{ user.name }}</li>
                </ul>
                <ul ng-if="users.length" ng-switch-when="user">
                    <li ng-repeat="(id, user) in users" ng-hide="user.role != 'user'" ng-class-odd="'strong'">{{ id }} {{ user.name }}</li>
                </ul>
                <select ng-model="showUsers">
                    <option value="active">Aktywni</option>
                    <option value="admin">Administratorzy</option>
                    <option value="user">Użytkownicy</option>
                </select>
            </div>
        </div>

        
        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>