<!DOCTYPE html>
<html lang="en" ng-app="filterApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Excercise</title>
    <link href="./css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
	
    <div class="container" ng-controller="filterController">
        <div class="row" ng-repeat="(i, m) in movies">
            <div class="col-md-4">{{ m.title }}</div>
            <div class="col-md-8">{{ m.description }}</div>
        </div>  
        <button type="submit" ng-click="sortMovies('title')">Sortuj</button>
    </div>
      
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/angular.min.js"></script>
	<script src="./js/app.js"></script>
  </body>
</html>
