<!DOCTYPE html>
<html lang="en" ng-app="ajaxSimple">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Excercise</title>
    <link href="./css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body ng-controller="myController">
	<button ng-click="getMovies()">Pobierz</button>
    <div ng-repeat="mov in movies">{{ mov.title }}</div>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/angular.min.js"></script>
	<script src="./js/app.js"></script>
  </body>
</html>
