html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* ---------- header.html ---------- */

.navbar-inverse {
    background-color: rgba(49, 69, 78, 0.4);
    border: none;
    text-align: center;
}

.navbar-inverse .navbar-nav > li >a {
    color: #ddd;
}

    .nav>li:hover {
        background-color: #31454e;
        border-radius: 10px;
    }


nav a:hover {
    background-image: url(/images/short-white-triangle-hi.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position: bottom;
    background-size: 15px;
}

/* ---------- login.html ---------- */

.loginBody {
    background: url(/images/login-register-bg.jpg) no-repeat center center fixed;
    background-size: cover; 
}

.loginViewContent {
    width: 500px;
    height: 400px;
    background-color: rgba(10, 10, 10, 0.5);
    border-radius: 4px;
    box-shadow: 0 0 10px black;
    padding: 40px;
    font-family: "Open Sans";
    color: white;
    font-weight: 600;
}


/* ---------- registration.html ---------- */
.registrationBody {
    background: url(/images/login-register-bg.jpg) no-repeat center center fixed;
    background-size: cover; 
}

.registerViewContent {
    width: 500px;
    height: 480px;
    background-color: rgba(10, 10, 10, 0.5);
    border-radius: 4px;
    box-shadow: 0 0 10px black;
    padding: 40px;
    font-family: "Open Sans";
    color: white;
    font-weight: 600;
}



/* ---------- login.html & registration.html ---------- */
.logRegView {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100vh;
}   


    .logRegForm .title {
        text-align: center;
        font-size: 2.0rem;
        font-weight: 600;
        padding-bottom: 20px;
    }

    .logRegForm input {
        width: 100%;
        font-size: 1.3rem;
        font-family: "Open Sans";
        margin: 10px 0px;
        border: none;
        padding: 10px;
        border-radius: 4px;
        color: black;
    }

    /* checkbox */
    .logRegForm input[type=checkbox] {
        display: none;
    }

    .logRegForm label {
        display: inline-block;
        width: 20px;
        height: 20px;
        cursor: pointer;
        position: relative;
        margin-left: 5px;
        margin-right: 10px;
        top: 5px;
    }

    .logRegForm label:before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 3px;
        position: absolute;
        left: 0;
        bottom: 1px;
        background-color: #aaa;
        box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(255, 255, 255, 0.8);
    }

    .logRegForm input[type=checkbox]:checked + label:before {
        content: "\2713";
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        font-size: 20px;
        color: Black;
        text-align: center;
        line-height: 20px;
    }

    .logRegForm span {
        font-size: 1.2rem;
    }

    .logRegForm button {
        width: 100%;
        font-size: 1.5rem;
        padding: 10px;
        margin: 20px 0px;
        background-color: #31454e;
        color: White;
        border: none;
        border-radius: 4px;
    }

    .logRegForm .already {
        text-align: center;
        font-size: 1.2rem;
        border-top: 1px solid white;
        margin-top: 10px;
        padding: 10px;

    }


/* ---------- profile.html ---------- */
.profileBody {
    background: url(/images/home-bg.jpg) no-repeat center center fixed;
    background-size: cover; 
    padding-top: 50px;
}

.profileView {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}   

.profileViewContent {
    width: 500px;
    background-color: rgba(10, 10, 10, 0.5);
    border-radius: 4px;
    box-shadow: 0 0 10px black;
    padding: 20px;
    font-family: "Open Sans";
/*    color: white;*/
    font-weight: 600;
    text-align: center;
}

#nickname {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 2rem;
    padding: 5px;
    background-color: #176e77;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}

#panel {
    display: none;
    padding-top: 5px;
}

    #panel input{
        text-align: center;
    }

.nicknamePanelHead {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    margin-top: 5px;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    background-color: #31454e;
    border-radius: 5px;
}

#yWHValues {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.inpYWH{
    width: 33%;
    border-radius: 5px;
}

.inp100w {
    width: 100%;
        border-radius: 5px;

}

#editProfileBtn {
    width: 100%;
    font-size: 1.5rem;
    padding: 10px;
    margin-top: 5px;
    background-color: #4da55b;
    color: White;
    border: none;
    border-radius: 4px;
}

#personActivityDesc {
    display: none;
    color: white;
    font-size: 1.1rem;
}

    #personActivityDesc ul {
        list-style-type: none; 
        margin: 0;
        padding: 0;
    }

.pointer {
    cursor: pointer;
}

.saveAndCancel {
    display: none;
    width: 49%;
    font-size: 1.5rem;
    padding: 10px;
    margin-top: 5px;
    color: White;
    border: none;
    border-radius: 4px;
}

    .saveAndCancel:nth-child(1) {
        background-color: #337ab7;
    }

    .saveAndCancel:nth-child(2) {
        background-color: #c9302c;
    }

/* ---------- foods.html ---------- */
.foodsBody {
    background: url(/images/foods-bg.jpg) no-repeat center center fixed;
    background-size: cover; 
    padding-top: 50px;
}


.foodsTableDiv {
    background-color: #e0eaf1;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}
