<!DOCTYPE html>
<html lang="en" ng-app="simpleApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Excercise</title>
    <link href="./css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
	<div class="container" ng-controller="simpleController">
        <a class="btn btn-primary" href="#" ng-repeat="movie in movies" ng-click="showMovie(movie)">{{ movie.title }}</a>
        <hr/>
        <div class="oneMovie">asd</div>
      </div>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/angular.min.js"></script>
	<script src="./js/app.js"></script>
  </body>
</html>
