<header>
    <a href="#/">Strona główna</a>
    <a href="#/user/1">Użytkownik pierwszy</a>
    <a href="#/user/2">Użytkownik drugi</a>
    <a href="#/user/3">Użytkownik trzeci</a>
    <a href="#/user/4">Użytkownik pierwszy (Nie istniejący)</a>
    <a href="#/takaStronaNieIstnieje">Sprawdź mnie</a>
</header>