<html ng-app="firstApp">
    <head>
        <title>AngularJS formular</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container" ng-controller="formController">
            <div class="row">
                <div class="col-md-12">
                    <form>
                        Imię: <input type="text" ng-model="name" class="form-control"/><br/>       
                        Nazwisko: <input type="text" ng-model="surname" class="form-control"/><br/>
                        E-mail: <input type="text" ng-model="mail" class="form-control"/><br/>
                        Hasło: <input type="password" ng-model="pass" class="form-control"/><br/> 
                        <button class="btn btn-danger" ng-click="showUserData()">Pokaż dane</button>
                    </form>
                </div>
            </div>
        </div>

        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>