html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.container {
    width: 800px;
    margin: 0 auto;
    border: 3px solid #3e3e3e;
}

nav ul {
    margin: 0 auto;
    padding: 0;
    background-color: orange;
}

nav ul li {
    display: inline-block;
    padding: 20px 10px;
}

nav ul li a {
    background-color: orange;
}

.left {
    float: left;
    width: 507px;
}

.right {
    float: right;
    width: 293px;
    background-color: gray;
}

@media only screen and (max-width: 600px) {
    html, body, ul {
        margin: 0;
        padding: 0;
    }
    
    nav ul li {
        display: block;
        min-width: 100%;
        padding: 0;
    }
    
    nav ul li a {
        padding: 10px 0;
        width: 100%;
        display: inline-block;
        text-align: center;
        background-color: green;
    }
    
    nav ul li:nth-child(5),
    nav ul li:nth-child(6),
    nav ul li:nth-child(7),
    nav ul li:nth-child(8){
        display: none;
    }
    
    .left, .right {
        width: 100%;
        float: none;
    }
    
    .container {
        width: 100%;
        border: 0;
    }
    
    img.article-image {
        max-width: 100%;
    }
}