<!-- Foods view -->
<div ng-include="'views/header.html'"></div>
<div class="foodsTableDiv">
    <table id="foodsTable" class="display nowrap" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th>ZIP / Post code</th>
            </tr>
        </thead>
    </table>
</div>
