<!-- Login view -->
<div class="logRegView" ng-controller="loginController">
    <div class="logRegForm loginViewContent">
        <div class="title">Logowanie</div>
        <input type="text", placeholder="Nickname / E-mail">
        <input type="password", placeholder="Hasło">
        <input type="checkbox", id="rememberMe">
        <label for="rememberMe"></label><span>Zapamiętaj mnie</span>
        <button ng-click="login();">Zaloguj się</button>                
        <div class="already">Nie masz jeszcze konta? <a href="#/registration">Zarejestruj się</a></div>
    </div>
<div>