<!-- Profile view -->
<div ng-include="'views/header.html'"></div>
<div class="profileView" ng-controller="profileController">
   <div class="profileViewContent">
       <div id="nickname" ng-click="showUserDetails();">UncleMartinez</div>
       <div id="panel">
           <div class="nicknamePanelHead">
               <div>Wiek [lata]</div>
               <div>Waga [kg]</div>
               <div>Wzrost [cm]</div>
           </div>
           <div id="yWHValues">
               <input class="inpYWH" name="personYear" type="number" value="25" disabled>
               <input class="inpYWH" name="personWeight" type="number" value="100" disabled>
               <input class="inpYWH" name="personHeight" type="number" value="190" disabled>
           </div>
           <div class="nicknamePanelHead pointer" ng-click="showPersonActivityDesc();">&#8659; Aktywność fizyczna &#8659;</div>
           <div id="personActivityDesc">
               <ul>
                   <li>1 - siedzący tryb życia, brak aktywności, spanie i oglądanie Tv,</li>
                   <li>1.2 - praca siedząca/przy komputerze, bez dodatkowej aktywności sportowej,</li>
                   <li>1.4 - praca biurowa(biurko,komputer,etc), oraz dodatkowa aktywność typu umiarkowany spacer, niezbyt ciężki trening,</li>
                   <li>1.6 - praca niefizyczna, umiarkowana aktywność oraz trening,</li>
                   <li>1.8 - praca fizyczna i trening lub praca niefizyczna i 2 treningi dziennie,</li>
                   <li>2 - ciężka praca fizyczna i ciężki trening dziennie.</li>
               </ul>
           </div>
           <input class="inp100w" name="personActivity" type="number" value="1.6" disabled><br/>
           <div class="nicknamePanelHead">Twoje zapotrzebowanie kaloryczne</div>
           <input class="inp100w" name="personKcal" type="number" value="2500" disabled><br/>
           <button name="editPersonBtn" type="button" id="editProfileBtn" ng-click="showSaveAndCancel();">Edytuj</button>
           <div>
               <button name="savePersonBtn" type="button" class="saveAndCancel">Zapisz</button>
               <button name="cancelPersonBtn" type="button" class="saveAndCancel" ng-click="showSaveBtn();">Cofnij</button>
           </div>
       </div>
    </div>
<div>