<!-- Registration view -->
<div class="logRegView" ng-controller="registrationController">
    <div class="logRegForm registerViewContent">
        <div class="title">Rejestracja</div>
        <input type="text", placeholder="Nickname">
        <input type="text", placeholder="E-mail">
        <input type="password", placeholder="Hasło">
        <input type="password", placeholder="Powtórz hasło">
        <button ng-click="register();">Zarejestruj się</button>                
        <div class="already">Posiadasz już konto? <a href="#/login">Zaloguj się</a></div>
    </div>
<div>