body {
  margin: 0px;
  padding: 0px;
}

#mainHeader {
  margin: 0px;
  padding: 0px;
  width: 100%;
  background-color: #5f5f5f;
  color: #FFF;
  display: inline-block;
}
#mainHeader div {
  margin: 15px 10px 15px 10px;
}
#mainHeader div h1 {
  font-size: 24px;
  float: left;
  margin: 0px;
}
#mainHeader div form {
  float: right;
}
#mainHeader div form input {
  height: 25px;
  width: 200px;
}
#mainHeader div form img {
  float: right;
  max-width: 25px;
  max-height: 25px;
  padding-left: 10px;
}

#mainContent {
  display: inline-block;
  color: #FFF;
  width: 100%;
    background-color: #4787ed;
}

.content {
  background-color: #1155cc;
  width: 80%;
  float: left;
}

.navigation {
  background-color: #4787ed;
  width: 20%;
  float: right;
}
.navigation h2 {
  margin: 0px;
  padding: 0px;
  text-align: center;
  margin-top: 30px;
}
.navigation h2:first-child {
  margin-top: 0px;
  padding-top: 10px;
}
.navigation ul, .navigation li {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-align: center;
}
.navigation ul a, .navigation li a {
  text-decoration: none;
  color: #FFF;
}
.navigation ul a:hover, .navigation li a:hover {
  background-color: #5f5f5f;
}
.navigation li, .navigation a {
  display: block;
  width: 100%;
  height: 30px;
  margin: 0px;
  line-height: 30px;
}

footer {
  text-align: center;
  background-color: #5f5f5f;
  color: #FFF;
  padding: 10px 0px 10px 0px;
}

.singleContent {
  width: 100%;
  display: inline-block;
}
.singleContent p {
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.singleContent > p {
    padding: 20px 0 10px 0;
    font-weight: 700;
}

.infoSingleContent {
  width: 100%;
    text-align: center;
}
.infoSingleContent p {
    padding: 10px 30px;
  display: inline-block;
}

.whatInSingleContent {
  width: 100%;
    text-align: center;
}
.whatInSingleContent img {
  width: 100px;
  height: 100px;
  display: inline-block;
}
.whatInSingleContent p {
  width: 600px;
  display: inline-block;
}
