@media only screen and (max-width: 768px) { 
    
    html, body, ul {
        margin: 0;
        padding: 0;
    }
    
    #mainHeader {
        background-color: red;
    }
    
    .content, .navigation {
        width: 100%;
        float: none;
    }
    
    .infoSingleContent {
        display: block;
        text-align: center;
    }
    
    .infoSingleContent p {
        width: auto;
    }
    
    .whatInSingleContent {
        text-align: center;
    }   
    
    .whatInSingleContent p {
        width: auto;
    }
    
}