<html ng-app="firstApp">
    <head>
        <title>AngularJS Movies</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="container" ng-controller="firstController">
            <header>
                <nav class="navbar navbar-inverse navbar-fixed-top">
                    <div class="container">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#">AngularJS Movies</a>
                        </div>
                    </div>
                </nav>
            </header>
            <main class="row">
                <div class="center-text container col-md-4">
                    <p class="movieImg"></p><br/>
                    <button class="glyphicon glyphicon-chevron-left btn btn-primary leftBtn"></button><button class="glyphicon glyphicon-chevron-right btn btn-primary rightBtn"></button><button type="submit" ng-click="sortMovies('title')" class="btn btn-primary glyphicon glyphicon-sort-by-alphabet sortBtn"></button>
                    <ul ng-if="movies.length" class="nav nav-pills nav-stacked menu">
                        <li role="presentation" ng-class=" { active: isSelected($index) } " ng-repeat="movie in movies" ng-click="sendIndex($index)"><a href="#">{{ movie.title }}</a></li>
                    </ul>
                </div>
                <div class="container col-md-8">
                    <div class="oneMovie"></div>
                </div>
                <div class="row">
                <div class="col-md-12">
                    <form>
                        Tytuł: <input type="text" ng-model="title" class="form-control"/><br/>       
                        Opis: <input type="text" ng-model="description" class="form-control"/><br/>
                        Czas trwania(min): <input type="text" ng-model="lasts" class="form-control"/><br/>
                        Rok: <input type="text" ng-model="year" class="form-control"/><br/> 
                        Gatunek: <input type="text" ng-model="type" class="form-control"/><br/> 
                        Link do grafiki: <div class="input-group">
                            <span class="input-group-addon" id="basic-addon3">URL: </span>
                            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" ng-model="image">
                        </div><br/>
                        <button class="btn btn-success" ng-click="sendNewMovie()">Wyślij</button>
                    </form>
                </div>
            </div>
            </main>
            <footer></footer>
        </div>
        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-sanitize.min.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>