<html ng-app="firstApp">
    <head>
        <title>AngularJS Example</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="container" ng-controller="firstController">
            <div ng-include="'views/header.html'"></div>
            <div>{{ 3+4 }}</div>
            <div>{{ message }}</div>
            <div ng-controller="secondController">
                {{ settings.firstName }}<strong> {{ settings.secondName }}</strong> - {{ message }} - {{ $parent.message }}
                <button ng-click="showMsg()">Pokaż</button>
                <h3>Moi użytkownicy</h3>
                <ul>
                    <li ng-repeat="message in users">{{ message }} &bull; {{ $parent.message }} &bull; {{ $parent.$parent.message }}</li>
                </ul>
                <br/>
                <dl>
                    <dt>{{ 5 + 6 * 3 }}</dt>
                    <dt>{{ 'Jakiś' + ' tekst' }}</dt>
                    <dt>{{ message }}</dt>
                    <dt>{{ users[1] }}</dt>
                    <dt>{{ settings.firstName }}</dt>
                    <dt>{{ access[0] }}</dt>
                    <dt>{{ ::access[1] }}</dt>
                </dl>
                Komentarz: <input type="text" ng-model="comment"/>
                <br/>
                <button ng-click="clearAccess()">Wyczyść tablicę</button>
                <button ng-click="addAccess()">Uzupełnij tablicę</button>
                <button ng-click="showCommentModel()">Pokaż mi komentarz</button>
                <div>{{ comment }}</div>
                <div>
                    <input type="checkbox" ng-model="isVisible"/> Jestem pełnoletni
                    <br/>
                    <div ng-show="isVisible">Wygląda na to, że jesteś pełnoletni!</div>
                    <div ng-hide="isVisible">Jesteś za młody!</div>
                </div>
                <div ng-init="msg = 'cześć'">{{ msg }}</div>
                <div ng-init="msg = 'cześć ponownie'">{{ msg }}</div>
                <hr/>
                <div>{{ myTxt }}</div>
                <div ng-bind="myTxt"></div>
                <div ng-bind-template="{{ myTxt }}"></div>
                <div ng-bind-html="myTxt"></div>
            </div>
        </div>
        
        <div ng-controller="thirdController as thirdC">{{ thirdC.info }}</div>
        <div ng-controller="usersController">
            <div ng-switch on="showUsers">
                <div ng-switch-default>Wybierz liste</div>
                <ul ng-if="users.length" ng-switch-when="active">
                    <li ng-repeat="user in users" ng-show="user.active" ng-class="{ first: $first, last: $last, mid: $middle, strong: $even}">{{ $index }} . {{ user.name }}</li>
                </ul>
                <ul ng-if="users.length" ng-switch-when="admin">
                    <li ng-repeat="(id, user) in users" ng-hide="user.role != 'admin'" ng-style="styles">{{ id }} {{ user.name }}</li>
                </ul>
                <ul ng-if="users.length" ng-switch-when="user">
                    <li ng-repeat="(id, user) in users" ng-hide="user.role != 'user'" ng-class-odd="'strong'">{{ id }} {{ user.name }}</li>
                </ul>
                <select ng-model="showUsers">
                    <option value="active">Aktywni</option>
                    <option value="admin">Administratorzy</option>
                    <option value="user">Użytkownicy</option>
                </select>
            </div>
        </div>

        
        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-sanitize.min.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>